<div class="chen_wrapper">

<header>
<div class="logo">
  <img src="https://www.chenmed.com/themes/chenmaster/public/img/logos/chenmed-logo.svg" alt="ChenMed">
</div>
<div class="chen_careers_wrapper">
  <div class="chen_careers">Careers<div class="chen_careers_find">
  Find a Job
  </div></div></div>
  <div class="chen_locations">Locations<div class="chen_locations_find">
  Learn More
</div>
</div></div>

<div class="chen_nav_bar">
    <ul block="block-chenmed-main-menu" base_plugin_id="system_menu_block" region="primary_menu" class="primary-nav__list">
                  <li class="primary-nav__item">
            <a href="/about-us" data-drupal-link-system-path="node/69">About Us</a>
                  </li>
              <li class="primary-nav__item">
            <a href="/news" title="News" data-drupal-link-system-path="news" class="is-active">News</a>
                  </li>
              <li class="primary-nav__item">
            <a href="/find-a-job" data-drupal-link-system-path="find-a-job">Careers</a>
                  </li>
              <li class="primary-nav__item">
            <a href="/executive-team" data-drupal-link-system-path="executive-team">Executive Team</a>
                  </li>
              <li class="primary-nav__item">
            <a href="/our-centers" data-drupal-link-system-path="our-centers">Locations</a>
                  </li>
              <li class="primary-nav__item">
            <a href="/contact" data-drupal-link-system-path="node/81">Contact Us</a>
                  </li>
            </ul>
  </div>
</div>
</div>
</header>
<div class="chen_body_container">
<div class="chen_body_content">
  <section  class="chen_body_news">
    <div class="chen_body_news_logo">

    </div>
    <h1>ChenMed Strategically Expands Executive Team</h1>
    <div class="chen_body_news_content">

    </div>
    <button type="button" name="button">Read More</button>
  </div>

<div class="chen_body_images">
    <div class="item"><img src="http://placehold.it/320x320&text=no+img"></div>
        <div class="item"><img src="http://placehold.it/320x320&text=no+img"></div>
        <div class="item"><img src="http://placehold.it/320x320&text=no+img"></div>
        <div class="item"><img src="http://placehold.it/320x320&text=no+img"></div>
      </div>
</div>
</section>
</div>
<div class="chen_continued">

</div>
</div>
