// Place all the styles related to the statics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  font-family: Arial, serif;
}

.chen_wrapper {
  max-width: 100%;
}

header {
  padding: 16px;
  display: flex;
}
.logo {
  width: 880px;

}

.logo img{
  justify-content: flex-start;
  width: 218px;
  height: 65px;
  flex: 0 0 auto;
}

.chen_careers_wrapper {
  flex-flow: row wrap;
  padding-left: 20px;
}

.chen_careers {

font-size:20px;
color: aquamarine;
}

.chen_careers_find {
color: grey;
font-size: 30px;
}

.chen_locations {

font-size:20px;
color: aquamarine;
padding-left: 20px;
}

.chen_locations_find {
 color: grey;
 font-size: 30px;

}
.chen_nav_bar {
background-color: black;
max-width: 100%;
display: flex;
justify-content: space-between;
flex-basis: 3em;
align-items: center;

}

ul.primary-nav__list {
display: flex;
justify-content: space-between;

}
li.primary-nav__item {
    padding-left: 20px;
    letter-spacing: 4px;
  }
ul.primary-nav__list a {
justify-content: space-between;
  color: white;
  list-style: none;
  text-decoration: none;
}


.chen_body_container{
display: flex;
width: 100%;
height: auto;
background-color: #385873;
}


.chen_body_news {
padding: 90px;
display: flex;
}

.chen_body_images {
  height: auto;
  display: flex;

}
h1 {
font-size: 40px;
color: white;
}

.chen_body_news_content {
  padding: 20px;
}

button {
  font-size: 15spx;
  padding: 20px;
  border-radius: 10px;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  background-color: white;
}
